body {
    font-family: 'Times New Roman', serif;
}

/* ======================== HOME PAGE ======================= */

.title {
    color: #fff;
    margin-top: 0;
    margin-bottom: 0;
    padding: 40px;
    font-family: Georgia, Times, Times New Roman, serif;
    font-size: 50px;
    line-height: 50px;
  }

  h1 {
    color: #fff;
    text-align: center;
    margin-top: 0;
    padding-top: 40px;
    padding-right: 40px;
    font-family: Georgia, Times, Times New Roman, serif;
    font-size: 35px;
    font-weight: 700;
    line-height: 40px;
  }

  h2{
    color: #fff;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 40px;
    padding-right: 40px;
    font-family: Georgia, Times, Times New Roman, serif;
    font-size: 24px;
    font-weight: 400;
  }

  .get-started-button {
    cursor: pointer;
    background-color: #74a54f;
    border-bottom: 4px solid #58a700;
  }

  
  .get-started-button:active {
    border-bottom-color: rgba(0, 0, 0, 0);
    padding-top: 13px;
    transform: translate(0, 2px);
  }

  .get-started-button-2 {
    background-color: #235390;
    border: 2px solid rgba(0, 0, 0, .4);
  }

  .button-standard{
    color: #f7f7f7;
    text-transform: uppercase;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border: 2px solid rgba(0, 0, 0, .4);
    border-bottom-width: 4px;
    border-radius: 16px;
    width: 320px;
    height: 48px;
    margin-top: 12px;
    margin-left: 30px;
    padding-top: 11px;
    padding-bottom: 13px;
    padding-left: 10px;
    font-weight: 700;
    display: block;
  }
  
  .button-standard:hover {
    filter: brightness(110%);
  }
  
  .button-standard:active {
    border-width: 0 0 2px;
    transform: translate(0, 2px);
  }
  

/* ========== COLOR PALETTE ============*/
.base{
    background-color: #70d38b;
}

.accent{
    background-color: #658a6e
}

.lightgray{
    background-color: #929095;
}

.darkgray{
    background-color: #4e4a59;
}

/* ====================================== */

.example-image{
    max-height: 200px;
    height: 100%;
}

.bird-image{
    border-radius: 20px;
    max-width: 460px;
    width: 100%;
}

.button-2{
    background-color: #658a6e;
    color: white;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    text-align: center;
    border-radius: 12px;
    margin-right: 15px;
    font-size: 18px;
}

.learn-heading-1 {
    color: #333;
    text-align: center;
    font-size: 50px;
    margin-top: 10px;
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 40px;
    font-family: Georgia, Times, Times New Roman, serif;
}

.learn-heading-2 {
    color: #333;
    text-align: left;
    font-size: 40px;
    margin-top: 10px;
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 40px;
    font-family: Georgia, Times, Times New Roman, serif;
    font-weight: bold;
}

.paragraph-3 {
    margin-bottom: 40px;
    font-family: Georgia, Times, Times New Roman, serif;
    font-size: 24px;
    line-height: 40px;
  }

.paragraph-2{
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    line-height: 30px;
}


.prev-button{
    color: #235390;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    background-color: transparent;
    font-size: 40px;
    font-weight: bolder;
    padding: 20px;
    padding-left: 50px;
    border: 0;
}

.next-button{
    opacity: 1;
    color: #235390;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    background-color: transparent;
    font-size: 45px;
    font-weight: 700;
    padding: 20px;
    padding-right: 50px;
    border: 0;
}


.nav-button{
    color: #f7f7f7;
    font-size: 20px;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    padding-top: 30px;
    font-weight: 700;
}

.spectro-image{
    border: solid black 2px;
}

.char-spectro{
    user-select: none;
    cursor: pointer;
}

.question{
    max-width: 7%;
}

.quiz-spectro{
    max-width: 50%;
}

.draggable{
    width: 200px;
    height: 75px;
    padding: 0.5em;
    /* float: left; */
    margin: 10px 10px 10px 0;
    align-items: center;
    justify-content: center;
}

.droppable{
    width: 250px;
    height: 100px;
    padding: 0.5em;
    /* float: left; */
    margin: 10px;
    margin-left: 50px;
}

.draggable:hover{
    cursor: move;
}

.droppable.ui-state-hover {
    background-color: #658a6e;
}