{% extends "layout.html" %}

{% block content %}
<script type="text/javascript" src="{{ url_for('static', filename='learn.js') }}"></script>

<div class="container">
    <h1 class="row learn-heading-1">What is the best way to listen to birds?</h1>

    <h2 class="learn-heading-2">Listen for...</h2>

    <div class="row audio-examples">
        <div class="col paragraph-2">
            When is the pitch increasing (rising) or decreasing (falling)?
        </div>
        <div class="col center-block text-right">
            <audio controls src="{{ url_for('static', filename='example1.mp3') }}">Example 1</audio>
        </div>
    </div>

    <div class="row ">
        <div class="col paragraph-2">
            Does the song have multiple parts?

        </div>
        <div class="col center-block text-right">
            <audio controls src="{{ url_for('static', filename='example2.mp3') }}">Example 2</audio>

        </div>
    </div>

    <div class="row ">
        <div class="col paragraph-2">
            What is the quality of the sound? Are the notes clear (flute/whistle) or harsh/scratchy?

        </div>
        <div class="col center-block text-right">
            <audio controls src="{{ url_for('static', filename='example3.mp3') }}">Example 3</audio>

        </div>

    </div>



    <div class="row fixed-bottom">
        <div class="col">
            <a href="/">
                <button type="button" class="prev-button">&lt;</button>
            </a>
        </div>
        <div class="col text-right">
            <a href="/learn/1">
                <button type="button" class="next-button">&gt;</button>
            </a>
        </div>
    </div>
</div>
{% endblock %}
