{% extends "layout.html" %}

{% block content %}
<script type="text/javascript" src="{{ url_for('static', filename='learn.js') }}"></script>

<div class="container">
    <h1 class="row learn-heading-1 p-0 pt-1">What is a spectrogram?</h1>

    <div class="row paragraph-3">
        A spectrogram visualizes audio by recording the pitch (y-axis) and intensity (darkness) of a
        sound over time (x-axis). Visualizing audio can help characterize bird songs.

    </div>
    <div class="row">
        <div class="col-4">
            <div class="row paragraph-2">
                A simple rising pitch looks like this:
            </div>
            <div class="row">
                <img src="../static/media/example0-1.png" class="img-fluid example-image">
            </div>
            <div class="row">
                <audio controls src="../static/media/example0.mp3">Example 0</audio>
            </div>
        </div>
    
    
        <div class="col-4">
            <div class="row paragraph-2">
                A clear, whistle-like song looks like this:
            </div>
            <div class="row">
                <img src="../static/media/example1-1.png" class="img-fluid example-image">
            </div>
            <div class="row">
                <audio controls src="../static/media/example4.mp3">Example 4</audio>
            </div>
        </div>

        <div class="col-4">
            <div class="row paragraph-2">
                A harsh song looks like this:
            </div>
            <div class="row">
                <img src="../static/media/example2-1.png" class="img-fluid example-image">
            </div>
            <div class="row">
                <audio controls src="../static/media/example5.mp3">Example 5</audio>
            </div>
        </div>
    </div>
    


    <div class="row fixed-bottom">
        <div class="col">
            <a href="/learn/0">
                <button type="button" class="prev-button">&lt;</button>
            </a>
        </div>
        <div class="col text-right">
            <a href="/learn/2">
                <button type="button" class="next-button">&gt;</button>
            </a>
        </div>
    </div>
</div>
{% endblock %}