{% extends "layout.html" %}

{% block content %}
<script type="text/javascript" src="{{ url_for('static', filename='learn.js') }}"></script>

<div class="container">
    <h1 class="row learn-heading-1 p-0 pt-1">What is a spectrogram?</h1>

    <div class="row paragraph-3">
        A spectrogram visualizes audio by recording the pitch (y-axis) and intensity (darkness) of a
        sound over time (x-axis).

    </div>

    <div class="row audio-examples">
        <div class="col paragraph-2">
            When is the pitch increasing (rising) or decreasing (falling)?
        </div>
        <div class="col center-block text-right">
            <audio controls src="../static/media/example1.mp3">Example 1</audio>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col paragraph-2">
            Does the song have one part that might be repeated...
        </div>
        <div class="col center-block text-right">
            <audio controls src="../static/media/example2.mp3">Example 2</audio>

        </div>
    </div>

    <div class="row mb-5">
        <div class="col paragraph-2">
            or multiple distinct parts?
        </div>
        <div class="col center-block text-right">
            <audio controls src="../static/media/example3.mp3">Example 3</audio>

        </div>
    </div>

    <div class="row mt-5">
        <div class="col paragraph-2">
            What is the quality of the sound? Are the notes clear (like a flute or whistle)...
        </div>
        <div class="col center-block text-right">
            <audio controls src="../static/media/example4.mp3">Example 4</audio>

        </div>
    </div>

    <div class="row ">
        <div class="col paragraph-2">
            or harsh/scratchy?
        </div>
        <div class="col center-block text-right">
            <audio controls src="../static/media/example5.mp3">Example 5</audio>

        </div>

    </div>



    <div class="row fixed-bottom">
        <div class="col">
            <a href="/learn/0">
                <button type="button" class="prev-button">&lt;</button>
            </a>
        </div>
        <div class="col text-right">
            <a href="/learn/2">
                <button type="button" class="next-button">&gt;</button>
            </a>
        </div>
    </div>
</div>
{% endblock %}