{% extends "layout.html" %}

{% block content %}


<h1 class="font-weight-bold text-center pt-4" tabindex="0">Welcome to BirdLingo!</h1>

<h3 class="p-4" tabindex="0">
    Learn to identify the songs of some year-round birds in NYC. 
    The birds we will cover are: Red-Tailed Hawks, Northern Cardinals, 
    Mourning Doves, and American Robins.
</h3>

<div class="row">
    <div class="col-6">
        <div class="text-center h4 big-button" id="home-learn">
            Learn How to Speak Bird
        </div>
    </div>
    <div class="col-6">
        <div class="text-center h4 big-button" id="home-quiz">
            Quiz Yourself
        </div>
    </div>
</div>
<br>
{% endblock %}