<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="data:,">

    <!-- jquery -->
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">

    <title>BirdLingo</title>

</head>

<body class="base">
    <nav class="navbar navbar-expand-lg base">
        <a class="navbar-brand" href="/">
            <h1 class="m-0 p-0">BirdLingo</h1>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>

    <div class="container">
        <script type="text/javascript" src="{{ url_for('static', filename = 'home.js') }}"></script>

        <div class="row text-center">
            <div class="col">
                <img src="../static/media/home-earth.svg">
            </div>
            <div class="col">
                <div class="row">
                    <h1>Welcome to BirdLingo</h1>
                </div>
                <div class="row mt-4 ml-4">
                    <h2>Want to learn how to speak bird?</h2>
                </div>
                <div class="row get-started-button button-standard" id="home-learn">
                    Learn
                </div>
                <div class="row get-started-button-2 button-standard" id="home-quiz">
                    Quiz
                </div>
            </div>
        </div>
    </div>

</body>

</html>