{% extends "layout.html" %}

{% block content %}

<script>
    let learn_data = {{ learn_data| tojson}};
    console.log(learn_data);
</script>



<div class="row h3 m-auto pb-3">
    {{learn_data['intro-text']}} {{learn_data['name']}}
</div>
<div class="row mb-5">
    <div class="col-4">
        <img src="{{learn_data['image']}}" alt="Image of {{learn_data['name']}}" class="img-fluid">
    </div>
    <div class="col-4">
        <div class="row m-auto">
            <figure>
                <figcaption>Listen to the {{learn_data['name']}}:</figcaption>
                <audio controls src="{{url_for('static', filename=learn_data['audio'])}}"></audio>
            </figure>
        </div>
        <div class="row m-auto">
            Pay attention to:

        </div>
        <div class="row m-auto">
            {% for item in learn_data['attention'] %}
            <li>{{item}}</li>

            {% endfor %}
        </div>

    </div>
    <div class="col-4">
        <div class="col h4 base char-spectro p-4 text-center rounded" id="characteristics">
            Characteristics

        </div>
        <div class="col d-none" id="char-info">
            {% for item in learn_data['characteristics'] %}
            <ul class="list-group mb-2">
                <li class="list-group-item">{{item}}</li>
            </ul>
            

            {% endfor %}
        </div>
        <div class="col h4 base char-spectro p-4 text-center rounded" id="spectrogram">
            Spectrogram

        </div>
        <div class="col d-none" id="spectro-info">
            <img src="{{url_for('static', filename=learn_data['spectro-visual'])}}" class="img-fluid mb-2">

            {% for item in learn_data['spectrogram'] %}
            <ul class="list-group mb-2">
                <li class="list-group-item">{{item}}</li>
            </ul>
            

            {% endfor %}
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <button type="button" class="nav-button" id="prev-button">Prev</button>
        
    </div>
    <div class="col float-end text-right">
        <button type="button" class="nav-button" id="next-button">Next</button>
    </div>
</div>




{% endblock %}