{% extends "layout.html" %}

{% block content %}
<div class="container">
    <h1 class="learn-heading-1 pb-0">Learning Checkpoint</h1>
    <h3>Now you know what the Red-Tailed Hawk and Northern Cardinal sound like! Can you differentiate their songs? Drag the correct label to the corresponding recording (click on the hint to see a spectrogram):</h2>
    
    <!-- Drag-drop review session -->
    <!-- Add your drag-drop review session here -->

    <div class="row fixed-bottom">
        <div class="col">
            <a href="/learn/3">
                <button type="button" class="prev-button">&lt;</button>
            </a>
        </div>
        <div class="col text-right">
            <a href="/learn/4">
                <button type="button" class="next-button">&gt;</button>
            </a>
        </div>
    </div>
</div>
{% endblock %}
