{% extends "layout.html" %}

{% block content %}
<div class="container">
    <h3 class="text-center mt-4 mb-3">Learning Checkpoint</h3>
    <p>Now you know what the Red-Tailed Hawk and Northern Cardinal sound like! Can you differentiate their songs? Drag the correct label to the corresponding recording (click on the hint to see a spectrogram):</p>
    
    <!-- Drag-drop review session -->
    <!-- Add your drag-drop review session here -->

    <div class="row">
        <div class="col">
            <a href="/learn/2">
                <button type="button" class="prev-button w-button">&lt;</button>
            </a>
        </div>
        <div class="col text-right">
            <a href="/learn/3">
                <button type="button" class="next-button">&gt;</button>
            </a>
        </div>
    </div>
</div>
{% endblock %}
