{% extends "layout.html" %}

{% block content %}

<script type="text/javascript" src="{{ url_for('static', filename = 'quiz.js') }}"></script>


<h1 class="h1 text-center p-4 font-weight-bold" tabindex="0">
    CONGRATS!
</h1>

<h1 class="h3 text-center p-1" tabindex="0">
    You learned all the birdsongs.<br><br>
</h1>

<h4 id="variableContainer" class="text-center h2 p-4">Want to keep learning or try the quiz?</h4>

<div class="row m-5"></div>


<div class="row">
    <div class="col-6 d-flex justify-content-center">
        <div class="h4 get-started-button-2 button-standard" id="home-learn">
            Keep Learning
        </div>
    </div>
    <div class="col-6 d-flex justify-content-center">
        <div class="h4 get-started-button-2 button-standard" id="home-quiz">
            Go to Quiz
        </div>
    </div>
</div>
<br>
{% endblock %}